<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit a House</title>

    <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
    <!-- Import Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Import jQuery which will allow us to use the drop down menu on the form-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Import Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <!-- this link will allow us to use icons from font awesome -->
    <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

  </head>
  <body style="background-image: url('https://i.insider.com/5d0a543db587c62f1049fc18?width=700'); background-size: cover;"></body>
    
    
    <header class="green lighten-1">
      <a class="btn teal darken-1" href="/houses">Back to Main Page</a>
      <a class="btn teal darken-1" href="/houses/<%= house.id %>">Back to Show Page</a>
      <a style="display: inline-block;" class="btn teal darken-1" href="/users/signout">Sign Out</a>
    
      <h1 class="green-text text-darken-4 center-align">Edit Existing House </h1>
    </header>

    <main> 
      <div class="row center-align" style="padding: 0px 0px 0px 50px;">
       <!-- set the size of the input rows on the form -->
      <div class ="col s6 offset-s3 green lighten-3" >
        <form action="/houses/<%= house.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  
      <!-- make the form so that several fields can be on one row -->
          <div class="row">
              <div class="input-field col s5">
                  <input id="address" type="text" name="address" value="<%=house.address%>"/>
                  <label for="address">Address</label>
              </div>
              <div class="input-field col s4">
                  <input id="city" type="text" name="city" value="<%=house.city%>"/>
                  <label for="city">City</label>
              </div>
              <div class="input-field col s3">
                  <input id="zip" type="text" name="zip" value="<%=house.zip%>"/>
                  <label for="Zip">Zip</label>
              </div>
          </div>
  
  
          <div class="input-field">
            <select name="state">
              <!-- here we are showing the state that was selected in the dropdown initially -->
              <option value="" disabled<% if (!house.state) { %> selected <% } %> >Choose your state</option>
              <option value="AL" <% if (house.state === 'AL') { %> selected <% } %>>Alabama</option>
              <option value="AK" <% if (house.state === 'AK') { %> selected <% } %>>Alaska</option>
              <option value="AZ" <% if (house.state === 'AZ') { %> selected <% } %>>Arizona</option>
              <option value="AR" <% if (house.state === 'AR') { %> selected <% } %>>Arkansas</option>
              <option value="CA" <% if (house.state === 'CA') { %> selected <% } %>>California</option>
              <option value="CO" <% if (house.state === 'CO') { %> selected <% } %>>Colorado</option>
              <option value="CT" <% if (house.state === 'CT') { %> selected <% } %>>Connecticut</option>
              <option value="DE" <% if (house.state === 'DE') { %> selected <% } %>>Delaware</option>
              <option value="FL" <% if (house.state === 'FL') { %> selected <% } %>>Florida</option>
              <option value="GA" <% if (house.state === 'GA') { %> selected <% } %>>Georgia</option>
              <option value="HI" <% if (house.state === 'HI') { %> selected <% } %>>Hawaii</option>
              <option value="ID" <% if (house.state === 'ID') { %> selected <% } %>>Idaho</option>
              <option value="IL" <% if (house.state === 'IL') { %> selected <% } %>>Illinois</option>
              <option value="IN" <% if (house.state === 'IN') { %> selected <% } %>>Indiana</option>
              <option value="IA" <% if (house.state === 'IA') { %> selected <% } %>>Iowa</option>
              <option value="KS" <% if (house.state === 'KS') { %> selected <% } %>>Kansas</option>
              <option value="KY" <% if (house.state === 'KY') { %> selected <% } %>>Kentucky</option>
              <option value="LA" <% if (house.state === 'LA') { %> selected <% } %>>Louisiana</option>
              <option value="ME" <% if (house.state === 'ME') { %> selected <% } %>>Maine</option>
              <option value="MD" <% if (house.state === 'MD') { %> selected <% } %>>Maryland</option>
              <option value="MA" <% if (house.state === 'MA') { %> selected <% } %>>Massachusetts</option>
              <option value="MI" <% if (house.state === 'MI') { %> selected <% } %>>Michigan</option>
              <option value="MN" <% if (house.state === 'MN') { %> selected <% } %>>Minnesota</option>
              <option value="MS" <% if (house.state === 'MS') { %> selected <% } %>>Mississippi</option>
              <option value="MO" <% if (house.state === 'MO') { %> selected <% } %>>Missouri</option>
              <option value="MT" <% if (house.state === 'MT') { %> selected <% } %>>Montana</option>
              <option value="NE" <% if (house.state === 'NE') { %> selected <% } %>>Nebraska</option>
              <option value="NV" <% if (house.state === 'NV') { %> selected <% } %>>Nevada</option>
              <option value="NH" <% if (house.state === 'NH') { %> selected <% } %> >New Hampshire</option>
              <option value="NJ" <% if (house.state === 'NJ') { %> selected <% } %> >New Jersey</option>
              <option value="NM" <% if (house.state === 'NM') { %> selected <% } %> >New Mexico</option>
              <option value="NY" <% if (house.state === 'NY') { %> selected <% } %> >New York</option>
              <option value="NC" <% if (house.state === 'NC') { %> selected <% } %> >North Carolina</option>
              <option value="ND" <% if (house.state === 'ND') { %> selected <% } %> >North Dakota</option>
              <option value="OH" <% if (house.state === 'OH') { %> selected <% } %> >Ohio</option>
              <option value="OK" <% if (house.state === 'OK') { %> selected <% } %> >Oklahoma</option>
              <option value="OR" <% if (house.state === 'OR') { %> selected <% } %> >Oregon</option>
              <option value="PA" <% if (house.state === 'PA') { %> selected <% } %> >Pennsylvania</option>
              <option value="RI" <% if (house.state === 'RI') { %> selected <% } %> >Rhode Island</option>
              <option value="SC" <% if (house.state === 'SC') { %> selected <% } %> >South Carolina</option>
              <option value="SD" <% if (house.state === 'SD') { %> selected <% } %> >South Dakota</option>
              <option value="TN" <% if (house.state === 'TN') { %> selected <% } %> >Tennessee</option>
              <option value="TX" <% if (house.state === 'TX') { %> selected <% } %> >Texas</option>
              <option value="UT" <% if (house.state === 'UT') { %> selected <% } %> >Utah</option>
              <option value="VT" <% if (house.state === 'VT') { %> selected <% } %> >Vermont</option>
              <option value="VA" <% if (house.state === 'VA') { %> selected <% } %> >Virginia</option>
              <option value="WA" <% if (house.state === 'WA') { %> selected <% } %> >Washington</option>
              <option value="WV" <% if (house.state === 'WV') { %> selected <% } %> >West Virginia</option>
              <option value="WI" <% if (house.state === 'WI') { %> selected <% } %> >Wisconsin</option>
              <option value="WY" <% if (house.state === 'WY') { %> selected <% } %> >Wyoming</option>
            </select>
            <label>Select a state</label>
          </div> <br>
  
            <div class="row">
              <div class="input-field col s6">
                  <input id="description" type="text" name="description" value="<%=house.description%>"/>
                  <label for="description">Description</label>
              </div>
             
              <div class="file-field input-field col s6">
                  <div class="btn">
                    <span>Choose file</span>
                    <input id="image" type="file" name="img" accept="image/*">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Select an image">
                  </div>
                </div>
          
          </div>
  
  
          <div class="row">
              <div class="input-field col s3">
                  <input id="price" type="number" name="price" step="10000" min="0" name="price" value="<%=house.price%>"/>
                  <label for="price">Price</label>
              </div>
              <div class="input-field col s3">
                  <input id="bedrooms" type="number" step="1" min="0" name="bedrooms" value="<%=house.bedrooms%>"/>
                  <label for="bedrooms">Bedrooms</label>
              </div>
              <div class="input-field col s3">
                  <input id="bathrooms" type="number" step="1" min="0" name="bathrooms" value="<%=house.bathrooms%>"/>
                  <label for="bathrooms">Bathrooms</label>
              </div>
              <div class="input-field col s3">
                  <input id="Sqft" type="number" step="100" min="0" name="sqft" value="<%=house.sqft%>"/>
                  <label for="Sqft">Sqft</label>
              </div>
          </div>
          
          <div class="row">
              <div class="input-field col s3">
                  <select name="homeType">
                    <option value="" disabled <% if (!house.homeType) { %> selected <% } %> >Home Type</option>
                    <option value="Single-Family" <% if (house.homeType === 'Single-Family') { %> selected <% } %>>Single-Family</option>
                    <option value="Multi-Family" <% if (house.homeType === 'Multi-Family') { %> selected <% } %>>Multi-Family</option>
                    <option value="Townhouse" <% if (house.homeType === 'Townhouse') { %> selected <% } %>>Townhouse</option>
                    <option value="Apartment" <% if (house.homeType === 'Apartment') { %> selected <% } %>>Apartment</option>
                    <option value="Condo" <% if (house.homeType === 'Condo') { %> selected <% } %>>Condo</option>
                    <option value="Co-Op" <% if (house.homeType === 'Co-Op') { %> selected <% } %>>Co-Op</option>
                    <option value="Other" <% if (house.homeType === 'Other') { %> selected <% } %>>Other</option>
                  </select>
              </div>

              <div class="input-field col s3">
                  <select name="heating">
                    <option value="" disabled <% if (!house.heating) { %> selected <% } %> >Heating</option>
                    <option value="Furnace" <% if (house.heating === 'Furnace') { %> selected <% } %>>Furnace</option>
                    <option value="Boiler" <% if (house.heating === 'Boiler') { %> selected <% } %>>Boiler</option>
                    <option value="Heat Pump" <% if (house.heating === 'Heat Pump') { %> selected <% } %>>Heat Pump</option>
                    <option value="Hybrid Heating" <% if (house.heating === 'Hybrid Heating') { %> selected <% } %>>Hybrid Heating</option>
                    <option value="Ductless Mini-Splits" <% if (house.heating === 'Ductless Mini-Splits') { %> selected <% } %>>Ductless Mini-Splits</option>
                    <option value="Radiant Heating" <% if (house.heating === 'Radiant Heating') { %> selected <% } %>>Radiant Heating</option>
                    <option value="Baseboard Heater" <% if (house.heating === 'Baseboard Heater') { %> selected <% } %>>Baseboard Heater</option>
                    <option value="Other" <% if (house.heating === 'Other') { %> selected <% } %>>Other</option>
                  </select>
              </div>
              <div class="input-field col s3">
                  <select name="cooling">
                    <option value="" disabled <% if (!house.cooling) { %> selected <% } %> >Cooling</option>
                    <option value="Central Air" <% if (house.cooling === 'Central Air') { %> selected <% } %>>Central Air</option>
                    <option value="Room Air Conditioner" <% if (house.cooling === 'Room Air Conditioner') { %> selected <% } %>>Room Air Conditioner</option>
                    <option value="Evaporative Coolers" <% if (house.cooling === 'Evaporative Coolers') { %> selected <% } %>>Evaporative Coolers</option>
                    <option value="Other" <% if (house.cooling === 'Other') { %> selected <% } %>>Other</option>
                  </select>
              </div>
              <div class="input-field col s3">
                  <input id="parking" type="text" name="parking" value="<%=house.parking%>"/>
                  <label for="parking">Parking</label>
              </div>
          </div>
          
  
  
          <div class="row">
              <div class="input-field col s4">
                  <input id="yearBuilt" type="number" name="yearBuilt" value="<%=house.yearBuilt%>"/>
                  <label for="yearBuilt">Year Built</label>
              </div>
              <div class="input-field col s4">
                  <input id="appliancesIncluded" type="text" name="appliancesIncluded" value="<%=house.appliancesIncluded%>"/>
                  <label for="appliancesIncluded">Appliances Included</label>
              </div>
              <div class="input-field col s4">
                  <input id="amenities" type="text" name="amenities" value="<%=house.amenities%>"/>
                  <label for="amenities">Amenities</label>
              </div>
          </div>
        
         <br>
  
          <div class="row">
              <div class="input-field col s12">
                  <input id="notes" type="text" name="notes" value="<%=house.notes%>"/>
                  <label for="notes">Notes</label>
              </div>
          </div>
  
          <button class="btn teal darken-1" type="submit" name="action">Edit House</button>
      </form>
  </div>
  </div>
  </div>
  </div>
  
  
  </main>


   <!-- Footer - bottom of the page all elements displayed next to each other -->
   <footer class="green lighten-1 center-align"> 
      <i class="fa-solid fa-dog green-text text-darken-4" style="font-size: 3em; display: inline-block;"></i>
      <h3 class="green-text text-darken-4"style="display: inline-block;">Tillow!</h3>
    </footer>

<!-- Initialize dropdown menu code from materialize documentation-->
<script>
  $(document).ready(function(){
   $('select').formSelect();
 });




</script>






  </body>
</html>