<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tillow! Index Page</title>

        <!-- Here we imported the CND so that we can be able to use Materialize CSS Framework -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- this link will allow us to use icons from font awesome -->
        <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>

    </head>

    <body style="background-image: url('https://media.architecturaldigest.com/photos/571e97ce818277135ff91620/master/w_2626,h_1821,c_limit/modernist-decor-inspiration-07.jpg'); background-size: cover;">
        
        <!-- top of the page - header -->
        <header class="green lighten-1">
            <!-- link to sign out -->
            <a style="display: inline-block;" class="btn teal darken-1" href="/users/signout">Sign Out</a>

            <!-- A link to add a new house -->
            <a style="display: inline-block;" class="btn teal darken-1" href="/houses/new">Create a New House</a>

            <div id="title" class="center-align">
            <i style="font-size: 3em; display: inline-block;" class="fa-solid fa-dog green-text text-darken-4"></i>
            <h2 style="display: inline-block;" class="green-text text-darken-4 ">Tillow! Main Page</h2>
    
            </div>
        </header>
        
        <!-- main - middle of the page -->
        <!-- using materialize's card images so that we can click on the images -->
        <main class="center-align">
            <div class="row">
              <% for(let i=0; i < houses.length; i++) { %>
                <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image">
                      <a href="/houses/<%=houses[i].id %>">
                        <img src="/images/<%= houses[i].img %>?v=<%= Date.now() %>" alt="<%=houses[i].address %>" width="200" height="210" style="border: 1px solid #66bb6a; padding: 5px; border-radius: 5px; background-color: #66bb6a;">
                        <span class="card-title"><%=houses[i].address %></span>
                      </a>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </main>


    </body>
</html>