<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Show Page</title>

    <!-- Here we imported the CND links so that we can be able to use Materialize CSS Framework -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- this link will allow us to use icons from font awesome -->
    <script src="https://kit.fontawesome.com/f2bf2bfcf4.js" crossorigin="anonymous"></script>
  



    <!-- Add the OpenLayers CSS file which will allow us to use the OpenLayers Map API for our map -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>


    
</head>

<body style="background-image: url('https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?cs=srgb&dl=pexels-vecislavas-popa-1571460.jpg&fm=jpg'); background-size: cover;">
  
  <!-- top of the page - header -->
     <header class="green lighten-1">
      <!-- link to sign out, commented out for now until we add the user authentication feature-->
      <!-- <a style="display: inline-block;" class="btn teal darken-1" href="/users/signout">Sign Out</a> -->
      <!-- A link to add a new house -->
      <a style="display: inline-block;" class="btn teal darken-1" href="/houses/new">Create a New House</a>
      <!-- A link to edit the current house -->
      <a style="display: inline-block;" class="btn teal darken-1" href="/houses/<%=house.id%>/edit">Edit this House</a>
      <!-- link back to main page -->
      <a class="btn teal darken-1" style="display: inline-block;"  href="/houses">Back to Main Page</a>
      
      <div id="title" class="center-align">
      <i style="font-size: 3em; display: inline-block;" class="fa-solid fa-dog green-text text-darken-4"></i>
      <h2 style="display: inline-block;" class="green-text text-darken-4"> <%=house.address %></h2>
      </div>

    </header>

  <br>

  
  <main class="center-align">
  <!-- put the image and the house information side by side -->
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-image">
            <!-- because we were using Multer we needed to make the images unique in order for them to show on the page -->
            <img src="/images/<%= house.img %>?v=<%= Date.now() %>" width="370" height="350" style="border: 1px solid #66bb6a; padding: 5px; border-radius: 5px; background-color: #66bb6a;">
        </div>
      </div>
    </div>
    
    
    <div class="col s12 m4 green lighten-1 offset-m4" style="opacity: 0.8;">

      <div class="row">
          <h5>$ <%= house.price %> </h5> <%= house.bedrooms %> Bd | <%= house.bathrooms %> Bath | <%= house.sqft %> Sqft
      </div>
        
      <div class="row">
        <%= house.city %> | <%= house.state %> | <%= house.zip %>
      </div>


      <div class="row">
        Description: <%= house.description %>
      </div>
      <div class="row">
        Hometype: <%= house.homeType %>
      </div>
      <div class="row">
        Heating: <%= house.heating %> | Cooling: <%= house.cooling %>
      </div>
      <div class="row">
        Parking: <%= house.parking %> | Year Built: <%= house.yearBuilt %>
      </div>
      <div class="row">
        Appliances Included: <%= house.appliancesIncluded %>
      </div>
      <div class="row">
        Amenities: <%= house.amenities%>
      </div>
      <div class="row">
        Notes: <%= house.notes%>
      </div>
        

        
    
    </div>
  </div>
    


  <!-- Create a div to hold the map -->
  <!-- Wrap the map div into another div so that it can be centered -->
  <div style="display: flex; justify-content: center;">
    <div id="map" style="height: 210px; width: 400px;"></div>
  </div>



</main>
    <form action="/houses/<%=house.id%>?_method=DELETE" method="POST">
      <input class="btn red darken-1" type="submit" value="Delete this House">
    </form>

   


<!-- The below code will create the map that we will show on the page -->
<script>

  // Using async function as the network request will be completed before continuing with execution
  // Function geocodeAddress takes an address, city, state and zip --> convert them into lat and long values 
  async function geocodeAddress(address, city, state, zip) {
    const query = `${address}, ${city}, ${state}, ${zip}`
    // because OpenLayer API by itself cannot directly the 4 parameters above and give a location, we need to use Openstreetmap to take the 4 parameters and 
    // then return us a latitude and longitude, that initializeMap can then use
    const url = `https://nominatim.openstreetmap.org/search/${encodeURIComponent(query)}?format=json&addressdetails=1&limit=1`
    // we use EncodeURI component above so that we can encode the query string (The 4 parameters) into a URL safe format
    // send a request to the URL
    const response = await fetch(url)
    // Waiting for response to complete and then parse it into a JSON object
    const json = await response.json()
    // If a response is returned, return the Lat and Long Values
    if (json && json.length > 0) {
      const result = json[0]
      return [parseFloat(result.lon), parseFloat(result.lat)]
    } else {
      // if a latitude and longitude could not be generated, then an error message will be sent
      throw new Error('The address, city, state, or zip that was inputted into the form was invalid and therefore a map location could not be shown')
    }
    // otherwise return null
    return null
  }


  // the initializeMap function will use the geocodeAddress from above to create a map of the area
  async function initializeMap() {


    try{
    // coordinates call to the geocodeAddress above
    const coordinates = await geocodeAddress('<%= house.address %>', '<%= house.city %>', '<%= house.state %>', '<%= house.zip %>')
    // then we cretae an OpenLayers map object which has the following
    const map = new ol.Map({
      // target - where the map will be displayed (in this case it will be the map div above)
      target: 'map',
      // Displays an OpenStreet tile layer
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        })
      ],
      // Display an initial view of the map, in this case we are displaying a view that is on the coordinates we sent it
      view: new ol.View({
        center: ol.proj.fromLonLat(coordinates),
        // initial zoom level of the map
        zoom: 18,
      })
    })
    // If we could not generate a valid latitide and longitude based on the address, city , state and zip we were given, we can generate an error message
    // in the space where the map would have been
  } catch (error) {
    document.getElementById('map').innerHTML = `<p>${error.message}</p>`
  }
}

  initializeMap()

</script>


      


 <!-- Footer - bottom of the page all elements displayed next to each other -->
 <footer class="green lighten-1 center-align"> 
  <i class="fa-solid fa-dog green-text text-darken-4" style="font-size: 3em; display: inline-block;"></i>
  <h3 class ="green-text text-darken-4"style="display: inline-block;">Tillow!</h3>
</footer>

    </body>
  </html>


 


      
