<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Show Page</title>
</head>

<body>
    <nav>
        <a href="/houses">Back to the Main Page</a>
    </nav>

    <h1><%=house.address %></h1>
    <br>
    <!-- <img src="<%=house.img; %>" width="200" height="150"> -->
    <!-- <img src="/public/images/<%= house.img %>" width="200" height="150"> -->
    <img src="/images/<%=house.img; %>" width="200" height="150">
    <br> 
    Description: <%=house.description %>
    
       <!-- link to edit the house -->
       <a href="/houses/<%=house.id%>/edit">Edit This House</a>
       <br> 


       <form action="/houses/<%=house.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>


    <!-- we will make a "placeholder" for where the google maps api would be -->
    <div style ="height: 500px;"></div>



    <!-- this will be the code where our google maps API goes  -->
    <!-- leave it commented out for now to avoid unnecessary usage -->


    <!-- <div id="map" style="height: 500px;"></div> -->


    <!-- <script>
        
        function initMap() {
            In order for the google maps to work we need to give it the location of the house
          const geocoder = new google.maps.Geocoder();

            for the location of the house it will need the address, city, state and zip

          const address = '<%= house.address %>, <%= house.city %>, <%= house.state %>, <%= house.zip %>';
            console.log(address)

            geocoder.geocode() is a method provided by the Google Maps JavaScript API 
            that takes an address or a location and returns its geographical coordinates 

          geocoder.geocode({ 'address': address }, function(results, status) {
            if (status === 'OK') {
            
            The map object is an instance of the google.maps.Map class which represents the map displayed on the page.
              const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                center: results[0].geometry.location
              })
              A marker is a visual element on a map that represents a specific location or point of interest
              const marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
              })
            } else {
              console.log('Geocode was not successful for the following reason: ' + status);
            }
          })
        }

        initMap()
        </script>
       

</body>
</html>